<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfApp4.Properties.Settings>
            <setting name="login" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>qwerty</value>
            </setting>
        </WpfApp4.Properties.Settings>
    </userSettings>

	<appSettings>
		<add key="login" value ="admin"/>
		<add key="password" value ="qwerty"/>
	</appSettings>
	
</configuration>